.background {
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(#CEB888, #f5e5c2);
  position: fixed;
  margin: 0%;
  padding: 0%;
}

.backgroundDesign {
  width: 100vw;
  height: 100vh;
  background-image: url("login-background.png");
  background-size: cover;
  position: fixed;
}

.heading {
  text-align: center;
  font-size: 40px;
  color: white;
  margin: 0%;
  padding: 0%;
  text-decoration: none;
  font-style: normal;
}

.postBox {
  width: 60vw;
  height: 100vh;
  position: relative;
  top: 0vh;
  background-color: whitesmoke;
  margin-left: 20vw;
  margin-right: 20vw; 
  /* border-radius:5px; */
  box-shadow: 0px 0px 8px #6b6047; 
  text-align: center;
  z-index: -1;
}