.background {
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(#CEB888, #f5e5c2);
  position: relative;
}

.backgroundDesign {
  width: 100vw;
  height: 100vh;
  background-image: url("login-background.png");
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.errorBox {
  margin-top: 25px;
  background-color: white;
  width: 250px;
  height: 20px;
  border-radius:5px;
  box-shadow: 0px 0px 8px #6b6047; 
  text-align: center;
  padding: 20px;
  align-items: center;
}

.loginBox {
  background-color: white;
  width: 250px;
  height: 350px;
  border-radius:5px;
  box-shadow: 0px 0px 8px #6b6047; 
  text-align: center;
  padding: 20px;
}

.loginText {
  margin-top: 10px;
  font-size:3em;
}

.loginTextBox {
  background-color: #e8e5df;
  border: none;
  outline: none;
  width: 75%;
  height: 8%;
  padding-left: 15px;
  margin-top:10px;
}

.loginSubmit {
  background-color: #e8e5df;
  margin-top: 3%;
  border-radius:15px;
  width: 40%;
  height: 8%;
  border: none;
  outline: none;
  transition: background-color 200ms;
}

.loginSubmit:hover {
  background-color:#CEB888;
  cursor: pointer;
}

.noAccountText {
  margin-top: 47%;
  font-size: 15px;
}

.forgotPasswordText {
  margin-top: 5px;
  font-size: 10px;
}

.signUpLink {
  font-weight: bold;
  cursor: pointer;
  color: black;
  text-decoration: none;
}

.signUpLink:hover {
  text-decoration: underline;
}

.invalidText {
  color: red;
}